.injuriesContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 2.5rem;
  margin: 2.5rem 0;

  .viz{
    display: flex;
    flex-flow: row nowrap;
  }
}

.causesContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 2.5rem;
}

.text {
  font-size: 2rem;
  line-height: 1.25;
  color: #15425f;
}

.subText {
  color: #15425f;
}
