.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s; /* Add a transition for opacity change */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 2rem;
  opacity: 1;
  // animation: fadeIn 0.025s forwards;
}

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }

//   10% {
//     opacity: 1;
//   }

//   100% {
//     opacity: 1;
//   }
// }

.text {
  color: white;
  font-family: "Playfair Display";
  font-size: 5rem;
  transition: opacity 1s ease-in;
}

.subText {
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in;
}

// .overlay.active,
// .text.active {
//   opacity: 1; /* Visible when active */
// }
